[user]
	name = alexekdahl
	email = 77007088+alexekdahl@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	editor = nvim
    hooksPath = ~/.githooks
[branch]
	sort = -committerdate
[commit]
	gpgsign = true
[diff]
    algorithm = histogram
[rerere]
	enable = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
