[user]
	name = alexekdahl
	email = 77007088+alexekdahl@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	editor = nvim
    hooksPath = ~/.githooks
[branch]
	sort = -committerdate
[commit]
	gpgsign = true
[diff]
    algorithm = histogram
[rerere]
	enable = true
[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $MERGED $REMOTE
