[user]
	name = alexekdahl
	email = 77007088+alexekdahl@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[diff]
    algorithm = histogram
[core]
	editor = nvim
