layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    tab name="code"  focus=true
    tab name="console" split_direction="vertical" {
        pane 
        pane
    }
}
attach_to_session true
